.navbar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.navbar-header__button {
  display: flex;
  column-gap: 1rem;
}
.navbar-header__button a {
  padding: 5px 10px;
  font-size: 16px;
  text-decoration: none;
  color: #364ec7;
  font-size: 14px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 3px 10px;
}
.navbar-header__button a:hover,
.navbar-header__button a:active {
  cursor: pointer;
  background-color: #f0f0f0;
}
.navbar-header:hover,
:active {
  cursor: pointer;
}
.navbar-header__title a {
  color: white;
  text-decoration: none;
}

.button-logout {
  background-color: #f8f9fa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
}
.button-logout:hover {
  background-color: #e9ecef;
}
