.hotels {
  margin: 1rem 1rem;
  padding: 1rem;
  box-shadow: 5px 5px 20px #8888883b;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header a {
  color: #2f9e44;
  background-color: #ebfbee;
  border: 2px solid #2f9e44;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.header a:hover,
.header a:active {
  background-color: #b2f2bb;
  color: #2b8a3e;
  border-color: #2b8a3e;
  cursor: pointer;
}
.header h3 {
  color: #868e96;
  font-weight: 500;
  margin-top: 1rem;
}
.hotels table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.hotels table {
  margin-top: 1rem;
}

.hotels thead {
  background-color: #adb5bd;
  color: white;
}
.hotels table,
.hotels td,
.hotels th {
  border: 1.5px solid #ced4da;
  padding: 5px;
}
.hotels table {
  width: 100%;
  border-collapse: collapse;
}

.delete {
  background-color: #ffe3e3;
  color: #f03e3e;
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;
  border: none;
  border-radius: 5px;
}
/* .tableItem td {
  border-bottom: 1px solid #adb5bd;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
} */
.delete:hover,
.delete:active {
  background-color: #ffa8a8;
  color: #c92a2a;
  cursor: pointer;
}
.hotels .form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
}

.edit {
  background-color: #8ce99a;
  color: #2b8a3e;
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.edit:hover,
.edit:active {
  background-color: #69db7c;
  color: #2b8a3e;
  cursor: pointer;
}
