.type {

  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.type-item__content {
  font-size: 1.2rem;
  color: #495057;
}
.type-item__img {
  border-radius: 20px 20px 0 0;
}
